-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{decorate_column('title', @request_sort)}= link_to 'Movie Title', {:sort => 'title'}, :id => 'title_header'
      %th{decorate_column('rating', @request_sort)}= link_to  'Rating', :sort => 'rating', :id => 'rating_header'
      %th{decorate_column('release_date', @request_sort)}= link_to 'Release Date', :sort => 'release_date', :id => 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
